body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Suisse International', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #1C1B22, #cab3d3, #f39aa4, #79afc3, #444444 );
    background-size: cover;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2.5rem; /* Relative padding */
    background: none; /* Ensures the header background is transparent */
    color: inherit;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.0625rem; /* Relative letter-spacing */
    color: #F3F4F7;
    margin: 1rem 0 0 0.625rem; /* Relative margin */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1.25rem 1.25rem 0 0; /* Relative margin */
    display: flex;
    gap: 1.875rem; /* Relative gap */
}

nav a {
    text-decoration: none;
    color: #F3F4F7;
    font-weight: bold;
    letter-spacing: 0.0625rem; /* Relative letter-spacing */
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FA9DB2;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 15%;
    padding: 0 1.25rem; /* Relative padding */
    max-width: 37.5rem; /* Relative max-width */
    min-height: 84vh;
}

.name {
    font-size: 6rem;
    font-weight: normal;
    margin-bottom: 0.625rem; /* Relative margin */
    font-family: 'GT Sectra', serif;
    color: #ffffff;
}

.tagline {
    font-size: 1.05rem;
    margin-bottom: 3.125rem; /* Relative margin */
    color: #444444;
    letter-spacing: 0.1875rem; /* Relative letter-spacing */
    word-spacing: 0.09375rem; /* Relative word-spacing */
    line-height: 1.6;
}

.details {
    display: flex;
    gap: 1.25rem; /* Relative gap */
    font-size: 0.8rem;
    color: #616161;
    letter-spacing: 0.09375rem; /* Relative letter-spacing */
}

.current, .driven {
    font-style: italic;
    color: #FFFFFF;
}

/* Work section */
.section {
    padding: 6.25rem 3.125rem; /* Relative padding */
    min-height: 60vh; /* Ensure it takes up the full viewport height */
    margin-top: 0;
}

.work-section {
    display: flex;
    background: #ffffff; /* Set the background to white */
    margin-top: 0; /* Ensure no gap from the previous section */
    padding-top: 0; /* Removes any potential padding that could show the previous background */
    background-position: top; /* Start the gradient from the top */
    position: relative; 
}

.work-content {
    text-decoration: none;
    max-width: 34%; /* Adjust the width of the text content */
    margin-top: 6.7rem; /* Moves the text further down the page */
    margin-left: 5.625rem; /* Relative margin */
    text-align: left;
    font-family: 'Suisse International', sans-serif;
}

.work-content a {
    text-decoration: none;
    color: inherit; /* Ensures the link inherits the color from the parent element */
}

.work-image {
    margin-top: 5.625rem; /* Relative margin */
    margin-right: 0;
    margin-left: 14rem; /* Relative margin */
    width: 50%; /* Adjust the percentage or use a specific pixel value */
    height: auto; /* Maintains the aspect ratio */
}

.virtual-lost-found {
    font-size: 1.9rem; /* Adjust the size as needed */
    font-weight: bold; /* Adjust weight to match the image */
    letter-spacing: 0.05rem; /* Adjust letter spacing */
    margin-top: 1.25rem; /* Adjust margin above the text */
    color: #007bff; /* Use the same blue color as in the image */
    margin-bottom: 0.625rem; /* Add some space between the title and the description */
}

.work-description {
    font-size: 0.9rem; /* Set the size for the description text */
    color: #444444; /* Set description text to gray */
    line-height: 1.4; /* Adjust line height for readability */
    letter-spacing: 0.09375rem; /* Relative letter-spacing */
    word-spacing: 0.0625rem; /* Relative word-spacing */
    margin-bottom: 1.25rem; /* Space below the description */
}

.tech-stack {
    font-size: 0.8rem;
    color: #616161; /* Gray color for the text */
    text-align: left;
    letter-spacing: 0.09375rem; /* Relative letter-spacing */
    word-spacing: 0.0625rem; /* Relative word-spacing */
    margin-top: 0.625rem; /* Relative margin */
}

.more-projects-container {
    position: absolute;
    bottom: 1.25rem; /* Relative distance from the bottom of the section */
    left: 50%;
    transform: translateX(-50%); /* Center the text horizontally */
    width: 100%;
    text-align: center; /* Ensure the text is centered */
}

.more-projects {
    font-family: 'Suisse International', sans-serif;
    font-size: 0.8rem;
    color: #616161; /* Set the color */
    font-style: italic; /* Make the text italic */
    margin: 0;
}

/* Hover effect for the title */
.work-content a:hover .virtual-lost-found {
    transform: scale(1.03); /* Slightly enlarges the title */
    transition: transform 0.3s ease;
}

/* Hover effect for the image */
.work-image:hover {
    transform: scale(1.01); /* Slightly enlarges the image */
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
    color: #FA9DB2;
}

/* About section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(135deg, #1C1B22, #cab3d3, #f39aa4, #79afc3, #444444); /* Same gradient as the home page */
    padding-top: 6.25rem; /* Relative padding */
    padding-bottom: 0;
    padding-left: 1.875rem; /* Relative padding */
}

.images {
    position: relative;
    width: 37.5rem; /* Relative width */
    height: 37.5rem; /* Relative height */
    margin-left: 3.125rem; /* Relative margin */
}

.image-circle {
    width: 8.125rem; /* Relative width */
    height: 8.125rem; /* Relative height */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Positions for the gradient circles */
.gradient-circle:nth-child(1) {
    top: 0;
    left: 6.25rem;
}

.gradient-circle:nth-child(2) {
    top: 12.5rem;
    left: 0;
}

.gradient-circle:nth-child(3) {
    top: 12.5rem;
    left: 12.5rem;
}

/* Positions for the image circles */
.image-circle:nth-child(4) {
    top: 6.25rem;
    left: 3.125rem;
}

.image-circle:nth-child(5) {
    top: 18.75rem;
    left: 9.375rem;
}

.image-circle:nth-child(6) {
    top: 6.25rem;
    left: 15.625rem;
}

/* Gradient background for the gradient-only circles */
.gradient-circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9.375rem; /* Relative width */
    height: 9.375rem; /* Relative height */
    border-radius: 50%;
    background: radial-gradient(circle, #1C1B22, #cab3d3, #f39aa4, #79afc3, #444444);
    z-index: -1;
}

.image-circle:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.5);
}

.about-text h2 {
    font-family: 'Times New Roman', 'serif';
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 0.125rem; /* Relative letter-spacing */
    word-spacing: 0.1875rem; /* Relative word-spacing */
    line-height: 1.2;
    margin-bottom: 1.25rem; /* Relative margin */
    margin-right: 6.25rem; /* Relative margin */
    text-align: left;
}

.about-text p {
    font-family: 'Suisse International', sans-serif;
    font-size: 0.9rem;
    line-height: 1.8;
    letter-spacing: 0.0625rem; /* Relative letter-spacing */
    word-spacing: 0.09375rem; /* Relative word-spacing */
    color: #444444;
    margin-top: 1.25rem; /* Relative margin */
    margin-right: 6.25rem; /* Relative margin */
    text-align: left;
}

/* For text block placement */
.about-text {
    max-width: 28.125rem; /* Relative max-width */
    margin-left: 0.3125rem; /* Relative margin */
    margin-top: -9.375rem; /* Relative margin */
}

strong {
    color: #FA9DB2;
}

